*{
    margin: 0;
    padding: 0;
   
 } 
 
 
 body {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color: white;
    color: black;
    height: 100vh;
    
   
 }
  
.navbar {
   position: fixed;
   top:1px;
   z-index: 1;
   display: flex;
   width: 100%;
   height: 60px;
   background: #282b2a;
 
    background-image: url("tsflogo.jpg");
     background-size: 100px 60px;
     background-repeat:no-repeat;
 }

 .navbar ul{
      display:flex;
      list-style-type: none;
      width: 100%;
      
      
 }

 .navbar ul li{
      position: relative;
      left: 78%;
      margin: 0 1rem;
      padding: 1rem;
  }
 
 .navbar ul li a{
         
    border: 3px solid rgb(3, 98, 128);
    background-color:white ;
    color: black;
    padding: 8px 28px;
    font-size: 16px;
    margin: 5px;
    font-size: 16px;
    border-radius: 7px;
text-decoration: none;
   
   
 }

.navbar ul li a:hover{
        background-color:#9dc5c3;
        color:white;
 }


#Home{
       width: 100%;
       height: 150vh;
     
     padding: 100px; 
     background-image: url("bank.jpg"), url("banking.jpg");
     background-size : 1560px 650px;
     background-position :0px 60px, 0px 660px; 
     background-repeat:no-repeat;
      align-items: center;
       text-align: center;
 } 

h1 {
    color: #4C4B4B;
    font-weight: bold;
    transition: 0.3s;
    text-align: left;
    top : 50%;
}

 .button{ 
    position: absolute;
     top:160%;
     left:27%;
   
    
 }

 
 
 .click{
    border: 5px solid rgb(3, 98, 128); 
    padding: 20px 50px;
    background-color: black;
    color: white;
    text-decoration: none;
 }
 
 
 
 .click:hover{
    background-color: white;
        color:black;
 }   

footer {
    color: #586776;
    background-color: #EAF0F1;
    letter-spacing: 0.5px;
   
}

footer p {
    margin: 0;
    font-size: 15px;
    text-align: center;
    
}
    

  
